<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>servlet.DelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlet.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PwdNameUserServlet</servlet-name>
    <servlet-class>servlet.admin.PwdNameUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypesAddServlet</servlet-name>
    <servlet-class>servlet.admin.TypesAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FilmAddServlet</servlet-name>
    <servlet-class>servlet.admin.FilmAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>servlet.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CritiqueServlet</servlet-name>
    <servlet-class>servlet.CritiqueServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserPwdServlet</servlet-name>
    <servlet-class>servlet.UserPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FilmReworkServlet</servlet-name>
    <servlet-class>servlet.admin.FilmReworkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminSearchServlet</servlet-name>
    <servlet-class>servlet.admin.AdminSearchServlet</servlet-class>
  </servlet>















  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/servlet/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/servlet/DelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/servlet/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/servlet/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PwdNameUserServlet</servlet-name>
    <url-pattern>/servlet/PwdNameUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypesAddServlet</servlet-name>
    <url-pattern>/servlet/TypesAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilmAddServlet</servlet-name>
    <url-pattern>/servlet/FilmAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/servlet/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CritiqueServlet</servlet-name>
    <url-pattern>/servlet/CritiqueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlet/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPwdServlet</servlet-name>
    <url-pattern>/servlet/UserPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilmReworkServlet</servlet-name>
    <url-pattern>/servlet/FilmReworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSearchServlet</servlet-name>
    <url-pattern>/servlet/AdminSearchServlet</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>PageFilter</filter-name>
    <filter-class>filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
